<% if(success && success.length){ %>
  <div class="alert alert-success alert-dismissible fade show" style="width: 95%; margin: 2px auto;" role="alert">
    <p>
      <%=success%>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

    <% if(error && error.length){ %>
      <div class="alert alert-danger alert-dismissible fade show" style="width: 95%; margin: 2px auto;" role="alert">
        <p>
          <%=error%>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>